.filesArea {
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
    /* margin-left: 20px; */
    /* justify-content: center; */
}

.fileImageWrapper {
    position: relative;
    cursor: pointer;
}

.fileImage {
    width: 40px;
    height: 40px;
    margin-right: 20px;
    border-radius: 10px;
}

.fileImageWrapper:hover .removeIconWrapper {
    position: absolute;
    right: 10px;
    top: -15px;
    display: block !important;
    padding: 0 !important;
}

.removeIconWrapper {
    display: none !important;
}

.iconWrapper {
    margin-right: 10px;
}

.icon {
    height: 40px;
    width: 40px;
}

.attachmentViewer {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: var(--backdrop2);
    /* background-color: var(--backdrop2); */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    z-index: 20;
    padding: 20px;
    overflow: hidden;
}

.closeIcon {
    position: absolute !important;
    top: 0;
    right: 0;
}

.thumbnailClass {
    object-fit: cover !important;
    height: 50px;
    width: 50px;
    overflow: hidden;
}
