.accordionBox {
    margin-bottom: 10px;
    overflow: scroll;
}

.accordionHeader {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accordionHeader .controller {
    flex: 1;
    user-select: none;
}
.accordionHeader .icon {
    display: flex;
    align-items: center;
}

.iconRotate {
    transform: rotate(180deg);
}

.accordionContent {
    max-height: 0px;
    transform-origin: top;
    transition: all 0.1s linear;
    overflow: scroll;
}

.accordionContentOpen {
    overflow: scroll;
    max-height: 100%;
    transform-origin: top;
    transition: max-height 0.25s ease-in;
    /* transform: ; */
}
